<section class="hero">
  <div class="container">
    <div class="sr-only">
      <h1>RealWorld Angular</h1>
      <p>
        This is the Angular starter app of the
        <a
          href="https://github.com/realworld-angular/realworld-angular"
          target="_blank"
          rel="noopener noreferrer"
          >RealWorld Angular open source project</a
        >.
      </p>
    </div>
    <div class="hero__banner-wrap">
      <img
        class="hero__banner"
        ngSrc="/images/realworld-angular-banner.png"
        width="460"
        height="120"
        alt=""
        decoding="async"
        priority
      />
    </div>
    <p class="hero__edition">
      <a href="https://ngbrutalism.khangtran.dev/" target="_blank" rel="noopener noreferrer" class="hero__edition-variant">{{ editionVariant }}</a>
      ><span class="hero__edition-suffix">edition</span>
    </p>
  </div>
</section>
